<div class="menu-bar">

  <div class="menu-bar__logo">
    <a href="javascript:void(0)" id="logo-scroll-top" class="logo-link">
      <span class="menu-bar__logo-icon"></span>
    </a>
  </div>

  
  <div class="menu-bar__text">
    ODYSSEE AUF SEE
  </div>
  
  <div class="burger-menu">
    <button class="burger" id="burger" aria-label="Menü öffnen" aria-expanded="false" aria-controls="menu-dropdown" type="button">
      <div class="burger-icon">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </button>
  </div>
</div>

<div class="menu-overlay" id="menu-overlay"></div>

<nav class="menu-dropdown" id="menu-dropdown">
  <a href="#">HOME</a>
  <a href="#">ÜBER UNS</a>
  <a href="#">BLOG</a>
  <a href="#">BILDER</a>
  <a href="#">JOIN US</a>
</nav>
