<div>
    <div class="werte-title">Unsere Werte und Ziele</div>

    <div class="werte-box">
        <div class="text-wert1">
            <h2>Nachhaltig Reisen</h2>
            <p>Wir reisen klimafreundlich mit Solar- und Windenergie und minimieren unseren ökologischen Fußabdruck auf See.</p>
        </div>
        <div class="svg-wert1"></div> 
        <div class="svg-wert2"></div>
        <div class="text-wert2">
            <h2>Saubere Meere</h2>
            <p>Unser Ziel ist es, die Biodiversität zu schützen, saubere Lebensräume zu bewahren und über die Schönheit der marinen Tierwelt aufzuklären.</p>
        </div>
        <div class="text-wert3">
            <h2>  Erweiterte Horizonte</h2>
            <p>Wir ermutigen dazu, über den Tellerrand zu blicken, Neues zu lernen und den eigenen Horizont zu erweitern.</p>
        </div>
        <div class="svg-wert3"></div>
        <div class="svg-wert4"></div>
        <div class="text-wert4">
            <h2>Bewusster Konsum</h2>
            <p>Wir inspirieren zu einem minimalistischen Lebensstil, reduzieren unseren Konsum und schätzen Qualität statt Quantität.</p>
        </div>
    </div>
</div>
