<div class="ueber-uns-background">
  <div class="ueber-uns-side ueber-uns-left">
    <div class="text-wrapper-left">
      <span class="sig-name ueber-uns-lea"></span>
      <p class="ueber-uns-text ueber-uns-text-left">Lorem Ipsum ist ein bekannter Platzhaltertext (Blindtext), der in der Druck- und Designbranche verwendet wird, um ein Layout zu demonstrieren, bevor der eigentliche Inhalt fertig ist, da er die typografischen Eigenschaften von Text nachahmt, ohne vom Inhalt abzulenken. Der Text stammt ursprünglich aus einem lateinischen Werk von Cicero, ist aber absichtlich unverständlich, um nicht vom Design abzulenken, und wird seit Jahrhunderten als Standard-Fülltext genutzt. 
      </p>
    </div>
  </div>

  <div class="ueber-uns-middle">
    <img src="assets/images/profiles/ueber_uns_image.jpg" alt="Background" class="middle-image">
    <span class="bubble-left"></span>
    <span class="bubble-right"></span>
  </div>

  <div class="ueber-uns-side ueber-uns-right">
    <div class="text-wrapper-right">
      <span class="sig-name ueber-uns-vito"></span>
      <p class="ueber-uns-text ueber-uns-text-right">Lorem Ipsum ist ein bekannter Platzhaltertext (Blindtext), der in der Druck- und Designbranche verwendet wird, um ein Layout zu demonstrieren, bevor der eigentliche Inhalt fertig ist, da er die typografischen Eigenschaften von Text nachahmt, ohne vom Inhalt abzulenken. Der Text stammt ursprünglich aus einem lateinischen Werk von Cicero, ist aber absichtlich unverständlich, um nicht vom Design abzulenken, und wird seit Jahrhunderten als Standard-Fülltext genutzt. 
      </p>
    </div>
  </div>
</div>
